@import "../../../../src/scss/abstracts/all.scss";
// Call all variables
.multi-flower {
  position: relative;
  width: 100%;
  height: 0; // Bloc invisible, hauteur 0
  overflow: visible; // Les fleurs peuvent déborder sans limite
  pointer-events: none; // Le bloc ne bloque pas les interactions

  &__container {
    position: relative;
    width: 100%;
    height: 0;
  }

  &__item {
    position: absolute; // Position fixe par rapport à la viewport
    z-index: 1;
    pointer-events: none; // Les fleurs ne bloquent pas les interactions
    transform-origin: center bottom; // Centre de rotation en bas au centre

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    // Fleur 1 - Haute Gauche
    &--1 {
      bottom: 111vh;
      left: 2vw;
      width: 13vw;
      min-width: 90px;
      rotate: -216deg;
      animation: flower-sway-3 35s ease-in-out infinite;
      @include breakpoints(md, max) {
        bottom: 97vh;
        left: -22vw;
      }
    }

    // Fleur 2 - haut droite
    &--2 {
      bottom: 72vh;
      right: -16vw;
      width: 16vw;
      min-width: 80px;
      rotate: -97deg;
      animation: flower-sway-2 25s ease-in-out infinite;
      @include breakpoints(md, max) {
        bottom: 72vh;
        width: 26vw;
      }
    }

    // Fleur 3 - bas gauche
    &--3 {
      bottom: -19vw;
      left: -15vw;
      width: 15vw; // Taille en pourcentage de la viewport
      min-width: 100px;
      rotate: 25deg; // Rotation de base
      animation: flower-sway-1 20s ease-in-out infinite;
      @include breakpoints(md, max) {
        bottom: -17vh;
        left: -25vw;
      }
    }

    // Fleur 4 - bas droite
    &--4 {
      bottom: -23vh;
      right: -10vw;
      width: 19vw;
      min-width: 85px;
      rotate: -27deg;
      animation: flower-sway-4 40s ease-in-out infinite;
      @include breakpoints(md, max) {
        bottom: -7vh;
        right: -20vw;
        width: 32vw;
        min-width: 85px;
      }
    }
  }
}
